:root {
  --primary-color: #d8bd23;
  --primary-color-rgb: 86, 35, 216;
  --secondary-color: #fadb6a;
  --secondary-color-rgb: 106, 121, 250;
  --tertiary-color: #e6bc15;
  --tertiary-color-rgb: rgb(230, 122, 21);
}